<script>
import { Button, ComboBox, Grid, InlineLoading, TextInput, Theme } from "carbon-components-svelte";
let tipo, valor, promise;
let theme = 'g100'

const verification = async (tipo, valor) => {
    const res = await fetch(`${process.env.API_URL}/api/${tipo}/${valor}`)
    const data = await res.json()
    console.log(data.personas)
    if (res.ok) {
        return data.personas;
    } else {
        throw new Error(data)
    }
}

const handleClick = () => {
    promise = verification(tipo, valor)
    valor = ''
}
var items = [
    {id: 1, text: 'dni'},
    {id: 2, text: 'contacto'},
    {id: 3, text: 'nombre'},
    {id: 4, text: 'apellido'}
]

</script>
<Theme bind:theme/>

<Grid>
    <ComboBox
        titleText='Búsqueda'
        placeholder='Elegí un tipo'
        {items}
        bind:value={tipo}
    />
    <TextInput bind:value={valor} labelText='{tipo}'></TextInput>
    <Button on:click={handleClick}>Enviar</Button>
    {#if promise !== undefined}
        {#await promise}
            <InlineLoading description="Cargando" />
        {:then personas}
            <p>Hay {personas.length} personas con ese {tipo}</p>
            
        {/await}
    {/if}
</Grid>