<script>
  import {Column, Grid, Row, Theme, Toggle} from 'carbon-components-svelte'
  import {Router, Route} from 'svelte-routing'
import NewPerson from './views/NewPerson.svelte'

var themeConfig  = {
  themes: ['white', 'g100'],
  labelA: 'Modo oscuro',
  labelB: 'Modo claro',
  size: 'sm'
}

</script>

<svelte:head>
  <link
    rel="stylesheet"
    href="https://unpkg.com/carbon-components-svelte/css/all.css"
  />
</svelte:head>

<Grid padding>
  <Row>
    <Column>
      <h1>Eleeciones CF</h1>
    </Column>
    <Column>
      <Theme render="toggle" toggle={themeConfig}/>
    </Column>
  </Row>
  <Router>
    <Route path="/" component={NewPerson}></Route>
  </Router>

</Grid>

<style>
  h1 {
    color: brown;
  }
</style>